<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <title>Wybierz miejsce</title>
    <link rel="stylesheet" href="/css/wybieranie.css">
    <script src="/js/wybieranie.js" defer></script>
</head>
<body>
<header>
    <img src="/kitek pokerface.png" alt="kitek logo" class="logo_kitek">
    <h1>Kino Bez Piździucha</h1>
    <nav>
        <ul>
            <li><a href="/" class="a">Repertuar</a></li>
            <li><a href="/about_us" class="a">About Us</a></li>
            <li><a style="text-align: center" href="/login" class="a">Login<br><%=session%></a></li>
        </ul>
    </nav>
</header>
<main>
    <aside>

        <div id="takenList" style="display: none">
            <%=takenSeats%>
        </div>

        <div class="screen"></div>

        <% for(var i=1; i*10 <= totalSeats; i++) {%>
            <%-include(`row.ejs`, {number: i})%>
         <% } %>

         <%if(totalSeats%10 != 0){%>
            <%-include(`last.ejs`, {number : totalSeats})%>
        <%}%>

<div id="price" style="display: none"><%=price%></div>

    </aside>
<section>
        <p>KOSZT BILETOW WYNOSI AKTUALNIE: $<span id="Price">0</span></p>
        <form action="seat/final" method="POST">
            <input id="input" type="text" step="1" min="1" max="<%-totalSeats%>" name="seat" style="display: none;">
            <input id="price" type="text" name="price" style="display: none;">
            <input type="text" name="seanse" value="<%-seanse%>" style="display: none;">
            <br>
            <input id="submit" type="submit" value="Kup">
        </form>
</section>
</main>
<footer>
    <p>Kino Bez Piździucha</p>
    <p>&copy; WalnietyKotel i Sticzx Coorporated</p>
</footer>
</body>
</html>